
<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insertQuery</title>
</head>
<body>
<form action="#" th:action="@{/query/processQuery}" th:object="${queryDTO}"   method="post" class="input-group">


    <label >post query</label>
    <textarea  rows="4" cols="50" th:field="*{queryText}">
"Enter Your Query here..."
</textarea>
    <br>
    <label >select image</label>
    <input type="file" name="myImage" accept="image/*" th:field="*{queryImage}" />
    <br>
    <label >select category</label>
  <!--  <th:block th:object="${categoryDTO}">
    <select >
        <option value="food" th:field="*{categoryName}">Food</option>
        <option value="clothes" th:field="*{categoryName}">clothes</option>
        <option value="shelter" th:field="*{categoryName}">shelter</option>

    </select>
        </th:block>
            <br>
-->
    <th:block th:object="${addressDTO}">
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{houseNumber}" required>
            <label>House number</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{street}" required>
            <label>Street</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{landmark}" required>
            <label>LandMark</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{city}" required>
            <label>City</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{ZIP}" required>
            <label>ZIP</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{state}" required>
            <label>State</label>
        </div>
        <div class="inputBox">
            <input type="text" class="input-field" th:field="*{country}" required>
            <label>Country</label>
        </div>
        <br>
        <input type="submit" value="submit" class="submit-btn">



    </th:block>
</form>
</body>
</html>